html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 50px solid red;
    width: 40dvw;
    height: 70dvh;
    border-radius: 10px;
    overflow: hidden;
}
