html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    background-color: whitesmoke;
}

main{
    background: red;
    border-radius: 50px;
    width: 55dvw;
    height: 80dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container{
    width: 40dvw;
    height: 70dvh;
}

button{
    position: absolute;
    left: 2em;
    bottom: 2em;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 0;
    transition: all 150ms ease-out;
}
button:active{
    scale: 0.8;
}
